*.bak
*.pyc
*.log
.project
*.swp
*.xml
.pydevproject
local_settings.py
remote_settings.py
local_urls.py
media/*/*
inspect_model.py
*.DS_Store
.idea
.idea/*
*wp*
media/*
.vscode
*.rdb
*.sqlite3
.python-version
Pipfile
.env
ssh_keys
tests
scripts
node/node_modules
node/config
bot.session
